<a href="https://colab.research.google.com/github/nt189/Valores-Atipicos/blob/main/Arbnbcsv_clean.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt

In [ ]:
# Cargamos el dataframe
df = pd.read_csv('listings_LA_California.csv')
df.head(1)

,id,listing_url,scrape_id,last_scraped,source,name,description,neighborhood_overview,picture_url,host_id,...,review_scores_communication,review_scores_location,review_scores_value,license,instant_bookable,calculated_host_listings_count,calculated_host_listings_count_entire_homes,calculated_host_listings_count_private_rooms,calculated_host_listings_count_shared_rooms,reviews_per_month
0,670339032744709144,https://www.airbnb.com/rooms/670339032744709144,20240904164210,2024-09-05,city scrape,Westwood lovely three bedrooms three bathrooms,The whole group will enjoy easy access to ever...,NaN,https://a0.muscache.com/pictures/miso/Hosting-...,4780152,...,NaN,NaN,NaN,NaN,f,61,4,57,0,NaN

In [ ]:
# Creamos un set de las columnas que vamos a utilizar
columnas_permitidas = {'availability_60', 'bedrooms', 'availability_365', 'neighborhood_overview', 'description', 'beds', 'review_scores_accuracy', 'review_scores_checkin', 'host_is_superhost', 'amenities', 'neighbourhood_group_cleansed', 'name', 'review_scores_rating', 'review_scores_communication', 'host_name', 'instant_bookable', 'has_availability', 'calculated_host_listings_count_entire_homes', 'calculated_host_listings_count_private_rooms', 'host_neighbourhood', 'room_type', 'review_scores_location', 'calculated_host_listings_count', 'accommodates', 'number_of_reviews_l30d', 'price', 'bathrooms_text', 'maximum_nights', 'minimum_nights', 'number_of_reviews_ltm', 'host_response_time', 'host_location', 'host_response_rate', 'host_total_listings_count', 'first_review', 'neighbourhood', 'availability_90', 'neighbourhood_cleansed', 'property_type', 'latitude', 'review_scores_value', 'host_identity_verified', 'host_acceptance_rate', 'number_of_reviews', 'review_scores_cleanliness', 'host_verifications', 'host_listings_count', 'last_review', 'availability_30', 'longitude'}

In [ ]:
# creamos un dataframe que contenga las columnas que vamos a utlizar
df_col_clean = df.loc[:, df.columns.intersection(columnas_permitidas)]

In [ ]:
print('Columnas totales',len(df_col_clean.columns))
df_col_clean.head(1)

Columnas totales 50

,name,description,neighborhood_overview,host_name,host_location,host_response_time,host_response_rate,host_acceptance_rate,host_is_superhost,host_neighbourhood,...,review_scores_accuracy,review_scores_cleanliness,review_scores_checkin,review_scores_communication,review_scores_location,review_scores_value,instant_bookable,calculated_host_listings_count,calculated_host_listings_count_entire_homes,calculated_host_listings_count_private_rooms
0,Westwood lovely three bedrooms three bathrooms,The whole group will enjoy easy access to ever...,NaN,Moon,"Los Angeles, CA",within a few hours,96%,41%,f,Brentwood,...,NaN,NaN,NaN,NaN,NaN,NaN,f,61,4,57

In [ ]:
# Hacemos una copia del dataframe con las columnas que vamos a utilizar
df_clean = df_col_clean.copy()

In [ ]:
df_clean.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 45533 entries, 0 to 45532
Data columns (total 50 columns):
 #   Column                                        Non-Null Count  Dtype
---  ------                                        --------------  -----
 0   name                                          45532 non-null  object
 1   description                                   44100 non-null  object
 2   neighborhood_overview                         23112 non-null  object
 3   host_name                                     45531 non-null  object
 4   host_location                                 34673 non-null  object
 5   host_response_time                            35445 non-null  object
 6   host_response_rate                            35445 non-null  object
 7   host_acceptance_rate                          35850 non-null  object
 8   host_is_superhost                             44281 non-null  object
 9   host_neighbourhood                            35548 non-null  object
 10  host_listings_count                           45531 non-null  float64
 11  host_total_listings_count                     45531 non-null  float64
 12  host_verifications                            45531 non-null  object
 13  host_identity_verified                        45531 non-null  object
 14  neighbourhood                                 23113 non-null  object
 15  neighbourhood_cleansed                        45533 non-null  object
 16  neighbourhood_group_cleansed                  45533 non-null  object
 17  latitude                                      45533 non-null  float64
 18  longitude                                     45533 non-null  float64
 19  property_type                                 45533 non-null  object
 20  room_type                                     45533 non-null  object
 21  accommodates                                  45533 non-null  int64
 22  bathrooms_text                                45508 non-null  object
 23  bedrooms                                      42494 non-null  float64
 24  beds                                          37199 non-null  float64
 25  amenities                                     45533 non-null  object
 26  price                                         37296 non-null  object
 27  minimum_nights                                45533 non-null  int64
 28  maximum_nights                                45533 non-null  int64
 29  has_availability                              42194 non-null  object
 30  availability_30                               45533 non-null  int64
 31  availability_60                               45533 non-null  int64
 32  availability_90                               45533 non-null  int64
 33  availability_365                              45533 non-null  int64
 34  number_of_reviews                             45533 non-null  int64
 35  number_of_reviews_ltm                         45533 non-null  int64
 36  number_of_reviews_l30d                        45533 non-null  int64
 37  first_review                                  33387 non-null  object
 38  last_review                                   33387 non-null  object
 39  review_scores_rating                          33387 non-null  float64
 40  review_scores_accuracy                        33378 non-null  float64
 41  review_scores_cleanliness                     33377 non-null  float64
 42  review_scores_checkin                         33370 non-null  float64
 43  review_scores_communication                   33377 non-null  float64
 44  review_scores_location                        33369 non-null  float64
 45  review_scores_value                           33368 non-null  float64
 46  instant_bookable                              45533 non-null  object
 47  calculated_host_listings_count                45533 non-null  int64
 48  calculated_host_listings_count_entire_homes   45533 non-null  int64
 49  calculated_host_listings_count_private_rooms  45533 non-null  int64
dtypes: float64(13), int64(13), object(24)
memory usage: 17.4+ MB

In [ ]:
df_clean['price'] = df_clean['price'].str.replace('$', '').str.replace(',', '').astype(float)
df_clean.isnull().sum()

name                                                1
description                                      1433
neighborhood_overview                           22421
host_name                                           2
host_location                                   10860
host_response_time                              10088
host_response_rate                              10088
host_acceptance_rate                             9683
host_is_superhost                                1252
host_neighbourhood                               9985
host_listings_count                                 2
host_total_listings_count                           2
host_verifications                                  2
host_identity_verified                              2
neighbourhood                                   22420
neighbourhood_cleansed                              0
neighbourhood_group_cleansed                        0
latitude                                            0
longitude                                           0
property_type                                       0
room_type                                           0
accommodates                                        0
bathrooms_text                                     25
bedrooms                                         3039
beds                                             8334
amenities                                           0
price                                            8237
minimum_nights                                      0
maximum_nights                                      0
has_availability                                 3339
availability_30                                     0
availability_60                                     0
availability_90                                     0
availability_365                                    0
number_of_reviews                                   0
number_of_reviews_ltm                               0
number_of_reviews_l30d                              0
first_review                                    12146
last_review                                     12146
review_scores_rating                            12146
review_scores_accuracy                          12155
review_scores_cleanliness                       12156
review_scores_checkin                           12163
review_scores_communication                     12156
review_scores_location                          12164
review_scores_value                             12165
instant_bookable                                    0
calculated_host_listings_count                      0
calculated_host_listings_count_entire_homes         0
calculated_host_listings_count_private_rooms        0
dtype: int64

In [ ]:
#Sustituir valores nulos con promedio o media
df_clean['review_scores_rating'] = df_clean['review_scores_rating'].fillna(round(df['review_scores_rating'].mean(),1))
df_clean['review_scores_accuracy'] = df_clean['review_scores_accuracy'].fillna(round(df['review_scores_accuracy'].mean(),1))
df_clean['review_scores_cleanliness'] = df_clean['review_scores_cleanliness'].fillna(round(df['review_scores_cleanliness'].mean(),1))
df_clean['review_scores_checkin'] = df_clean['review_scores_checkin'].fillna(round(df['review_scores_checkin'].mean(),1))
df_clean['review_scores_communication'] = df_clean['review_scores_communication'].fillna(round(df['review_scores_communication'].mean(),1))
df_clean['review_scores_location'] = df_clean['review_scores_location'].fillna(round(df['review_scores_location'].mean(),1))
df_clean['review_scores_value'] = df_clean['review_scores_value'].fillna(round(df['review_scores_value'].mean(),1))

In [ ]:
# Sustituir valores nulos con mediana
# Eliminar el símbolo de porcentaje y convertir a valores numéricos
df_clean['host_acceptance_rate'] = df_clean['host_acceptance_rate'].replace('%', '', regex=True).astype(float) / 100
df_clean['host_response_rate'] = df_clean['host_response_rate'].replace('%', '', regex=True).astype(float) / 100
df_clean['price'] = df_clean['price'].replace('%', '', regex=True).astype(float)

# Rellenar los valores nulos con la mediana
df_clean['host_acceptance_rate'] = df_clean['host_acceptance_rate'].fillna(round(df_clean['host_acceptance_rate'].median(), 1))
df_clean['host_response_rate'] = df_clean['host_response_rate'].fillna(round(df_clean['host_response_rate'].median(), 1))
df_clean['price'] = df_clean['price'].fillna(round(df_clean['price'].median(), 1))

In [ ]:
# Sustituir valores nulos por un string en concreto
df_clean['description'] = df_clean['description'].fillna('Sin descripción')
df_clean['neighborhood_overview'] = df_clean['neighborhood_overview'].fillna('Sin descripción')
df_clean['first_review'] = df_clean['first_review'].fillna('Sin fecha')
df_clean['last_review'] = df_clean['last_review'].fillna('Sin fecha')
df_clean['host_is_superhost'] = df_clean['host_is_superhost'].fillna('f')
df_clean['host_location'] = df_clean['host_location'].fillna('Mexico')
df_clean['host_neighbourhood'] = df_clean['host_neighbourhood'].fillna('Sin especificar')
df_clean['neighbourhood_group_cleansed'] = df_clean['neighbourhood_group_cleansed'].fillna('Sin descripción')
df_clean['neighbourhood'] = df_clean['neighbourhood'].fillna('Sin descripción')
df_clean['has_availability'] = df_clean['has_availability'].fillna('f')

In [ ]:
# sustituir valores nulos por valores no nulos hacia adelante 'forward fill' ('ffill')
df_clean['bathrooms_text'] = df_clean['bathrooms_text'].fillna(method = 'ffill')
df_clean['bedrooms'] = df_clean['bedrooms'].fillna(method = 'ffill')
df_clean['beds'] = df_clean['beds'].fillna(method = 'ffill')

<ipython-input-17-fbb484f43956>:2: FutureWarning: Series.fillna with 'method' is deprecated and will raise in a future version. Use obj.ffill() or obj.bfill() instead.
  df_clean['bathrooms_text'] = df_clean['bathrooms_text'].fillna(method = 'ffill')
<ipython-input-17-fbb484f43956>:3: FutureWarning: Series.fillna with 'method' is deprecated and will raise in a future version. Use obj.ffill() or obj.bfill() instead.
  df_clean['bedrooms'] = df_clean['bedrooms'].fillna(method = 'ffill')
<ipython-input-17-fbb484f43956>:4: FutureWarning: Series.fillna with 'method' is deprecated and will raise in a future version. Use obj.ffill() or obj.bfill() instead.
  df_clean['beds'] = df_clean['beds'].fillna(method = 'ffill')

In [ ]:
# sustituir valores nulos por valores no nulos hacia adelante 'backward fill' ('bfill')
df_clean['bathrooms_text'] = df_clean['bathrooms_text'].fillna(method = 'bfill')
df_clean['host_response_time'] = df_clean['host_response_time'].fillna(method = "bfill")

<ipython-input-18-1ee5bc1f1d49>:2: FutureWarning: Series.fillna with 'method' is deprecated and will raise in a future version. Use obj.ffill() or obj.bfill() instead.
  df_clean['bathrooms_text'] = df_clean['bathrooms_text'].fillna(method = 'bfill')
<ipython-input-18-1ee5bc1f1d49>:3: FutureWarning: Series.fillna with 'method' is deprecated and will raise in a future version. Use obj.ffill() or obj.bfill() instead.
  df_clean['host_response_time'] = df_clean['host_response_time'].fillna(method = "bfill")

In [ ]:
df_clean.isnull().sum()

name                                            1
description                                     0
neighborhood_overview                           0
host_name                                       2
host_location                                   0
host_response_time                              0
host_response_rate                              0
host_acceptance_rate                            0
host_is_superhost                               0
host_neighbourhood                              0
host_listings_count                             2
host_total_listings_count                       2
host_verifications                              2
host_identity_verified                          2
neighbourhood                                   0
neighbourhood_cleansed                          0
neighbourhood_group_cleansed                    0
latitude                                        0
longitude                                       0
property_type                                   0
room_type                                       0
accommodates                                    0
bathrooms_text                                  0
bedrooms                                        0
beds                                            0
amenities                                       0
price                                           0
minimum_nights                                  0
maximum_nights                                  0
has_availability                                0
availability_30                                 0
availability_60                                 0
availability_90                                 0
availability_365                                0
number_of_reviews                               0
number_of_reviews_ltm                           0
number_of_reviews_l30d                          0
first_review                                    0
last_review                                     0
review_scores_rating                            0
review_scores_accuracy                          0
review_scores_cleanliness                       0
review_scores_checkin                           0
review_scores_communication                     0
review_scores_location                          0
review_scores_value                             0
instant_bookable                                0
calculated_host_listings_count                  0
calculated_host_listings_count_entire_homes     0
calculated_host_listings_count_private_rooms    0
dtype: int64

In [ ]:
df_clean.to_csv('df_clean.csv', index=False)